@charset "utf-8";
/* CSS Document */

.sliderPlay{
  width:1000px;
  height:236px;
  position: relative;
  overflow: hidden;
}
.slider{
	position: absolute;
	height:236px;
	left:0;
	top:0;
	width: 100%;
}
.slider li{
	float: left;
	list-style-type: none;
	height:100%;
	width: 1000px;
}
.slider img{
	border:0;
	width:1000px;
	height:236px
}
.btnBox{
	position: absolute;
	bottom:0px;
	right:0;
	width:100%;
	height:20px;
	text-align:right;
	line-height:20px;
	padding-right:40px;
}
.btnBox .btn{
	margin-right:2px;
	display: inline-block;
	width:6px;
	height:6px;
	/*text-align:center;
	line-height:20px;
	background:#ddd;*/
	background:#fff no-repeat;
	cursor: pointer;
	/*border-radius: 4px;*/
}
.btnBox .cur{
	background:#f90 no-repeat;
}
